* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  /* border: 1px red solid; */
}

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  /* width: 300px; */
  /* border: 4px black solid; */
}

.logo-img {
  width: 300px;
}

.search-box {
  /* border: 3px blue dotted; */
  display: flex;
  justify-content: center;
}

input {
  width: 400px;
  border-radius: 12px;
}

.search-input::placeholder {
  padding-left: 4px;
}

.buttons {
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  border-radius: 12%;

  .search {
    margin-right: 20px;
  }
}

button {
  color: #b59f78;
  border: 1.5px solid #cfd9de;
  border-radius: 18px;
  background-color: white;
  padding: 10px 20px;
  font-weight: bold;
}

.red {
  background: #c71226;
  height: 100px;
}

.blue {
  background: #0d1b88;
  height: 100px;
}

.green {
  background: #397327;
  height: 100px;
}

.goku {
  width: 300px;
  display: block;
  margin: 0 auto;
}
